@import "../variables";

.extra-goods {
  margin: 0;
  padding-top: 25px;
}

.extra-goods__title {
  position: relative;
  z-index: 1;

  display: inline-block;
  margin: 0 0 36px;
  padding-right: 22px;

  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: $fc-title-dark;

  background-color: $bgc-page-light;
  //todo: Доработать псевдоэлемент
  &::after {
    position: absolute;
    top: 15px;

    margin-left: 22px;
    width: 24px;
    height: 2px;

    content: "";
    background-color: $bgc-button-icon;
  }
}

.extra-goods__item {
  margin: 0;
}
