.main-nav {
  display: block;
}

.main-nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.main-nav__dash {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s linear;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.main-nav__dash--rotated-plus {
  margin-bottom: 0;
  transform: translateY(200%) rotate(225deg);
}

.main-nav__dash--rotated-minus {
  margin-bottom: 0;
  transform: translateY(-200%) rotate(-225deg);
}

.main-nav__list {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  display: none;
  width: 100%;
}

.main-nav__list--active {
  display: block;
}
