@import "../global/variables";

.page-main {
  min-width: $min-mobile;

  @media (min-width: $min-tablet) {
    min-width: $min-tablet;
  }
}

.page-main__section {
  margin-bottom: 20px;

  @media (min-width: $min-tablet) {
    margin-bottom: 30px;
  }
}

.page-main__section.page-main__section--explanation {
  margin-bottom: 49px;

  @media (min-width: $min-tablet) {
    margin-bottom: 43px;
  }
}

.page-main__section.page-main__section--extra-goods {
  margin-bottom: 35px;
}

.page-main__section.page-main__section--gift {
  margin-bottom: 35px;
}

.page-main__section--no-margin {
  margin: 0;
}

.page-main__title {
  margin: 27px 0 0;

  font-family: $ff-title;
  font-weight: $fw-normal;
  color: $fc-title-dark;
  font-size: 36px;
  line-height: 1;
}
