@import "../variables";

.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.page-header__logo {
  display: block;
  width: 34px;
  height: 38px;

  background-color: $bgc-page-grey;
}

.page-header__logo-text {
  display: block;
  width: 101px;
  height: 18px;
}

.page-header__nav {

}
