@import "../global/variables";

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__hint {
  font-family: $ff-title;
  font-weight: $fw-normal;
  color: $fc-title-dark;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  @media (min-width: $min-tablet) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.toggle__input {
  margin: 0 15px 0;

  @media (min-width: $min-tablet) {
    min-width: 570px;
    width: 80%;
  }
}
