@import "../../global/variables";

.nav-list {
  z-index: 3;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $bgc-page-light;

  @media (min-width: $min-desktop) {
    background-color: transparent;
  }
}

.nav-list__item {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;

  font-family: $ff-title;
  color: $fc-title-dark;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;

  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $min-tablet) {
    border: none;

    &:not(:first-child) {
      margin-left: 35px;
    }
  }

  @media (min-width: $min-desktop) {
    color: $fc-light;
  }
}

.nav-list__link {
  text-decoration: none;
  color: inherit;
}
